/* FONTS  */
@font-face {
     font-family: 'Poppins';
     src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
          url('../fonts/Poppins-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Poppins';
     src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}


/* ROOT  */
:root {
     --font-family: "Poppins", sans-serif;
     --text-color: #9E9AA8;
     --heading-color: #34313D;
     --white-color: #ffffff;
     --button-color: #2BD0D0;
     --font-weight5: 500;
     --font-weight7: bold;
}

/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: var(--white-color);
     color: var(--heading-color);
     font-family: 'Poppins', sans-serif;
     font-size: 15px;
     line-height: 22px;
}

img {
     max-width: 100%;
     height: auto;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     border-color: transparent;
     -webkit-text-fill-color: inherit;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
     color: rgba(52, 49, 61, 0.5);
     opacity: 1;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}

/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1150px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}

/* BUTTON  */
.button {
     display: inline-block;
     text-align: center;
     padding: 14px 40px 12px;
     border-radius: 28px;
     border: 0;
     font-size: 20px;
     line-height: normal;
     font-weight: bold;
     background-color: #2BD0D0;
     color: var(--white-color);
     text-decoration: none;
     cursor: pointer;
     white-space: no-repeat;
}

.button:hover {
     background-color: #8cd8d8;
}

.button:active {
     background-color: #9AE3E3;
}

.button--small {
     padding: 8px 23px 9px 24px;
     font-size: 15px;
     line-height: 22.5px;
}

.button--big {
     padding: 18px 40px 16px;
}

.border-rectangle {
     border-radius: 5px;
}

.button--rectangle-big {
     border-radius: 10px;
}

/* SITE--HEADER */

.site__header {
     background-color: var(--white-color);
     padding-top: 48px;
     padding-bottom: 49px;
     font-weight: bold;
     line-height: 28px;
}

.site-header__container {
     display: flex;
     align-items: center;
}

.site-header__logo {
     padding-top: 6px;
     margin-right: 48px;
}

.logo {
     display: inline-block;
}

.logo:hover {
     opacity: 0.8;
}

.logo:active {
     opacity: 0.6;
}

.logo__img {
     display: block;
     width: 120px;
     height: 33px;
     object-fit: contain;
}

.site-header__sitenav {
     margin-right: auto;
}

.sitenav__list {
     display: flex;
     margin: 0;
     padding: 0;
     list-style: none;
}

.sitenav__item:not(:last-child) {
     margin-right: 30px;
}

.sitenav__link {
     display: block;
     text-decoration: none;
     color: var(--text-color);
}

.sitenav__link:hover {
     color: var(--heading-color);
}

.sitenav__link {
     opacity: 0.6;
}

.site-header__auth {
     display: flex;
     align-items: center;
     margin-left: 45px;

}

.site-header__login-link {
     margin-right: 37px;
     text-decoration: none;
     color: var(--text-color);
}

.site-header__login-link:hover {
     color: var(--heading-color);
}

.site-header__login-link:active {
     opacity: 0.6;
}

/* MAIN  */

.hero {
     padding-top: 90px;
     padding-bottom: 138px;
     background-image: url(../img/bg-img.svg);
     background-repeat: no-repeat;
     background-position: left calc(50% + 343px) top 13px;
     padding-bottom: 220px;
}

.hero__inner {
     max-width: 565px;
}

.hero__title {
     margin: 0;
     padding: 0;
     margin-bottom: 5px;
     font-family: var(--font-family);
     font-weight: var(--font-weight7);
     font-size: 80px;
     line-height: 90px;
     letter-spacing: -2px;
}

.hero__text {
     margin-top: 0;
     margin-bottom: 30px;
     font-family: var(--font-family);
     font-weight: var(--font-weight5);
     font-size: 22px;
     line-height: 36px;
     letter-spacing: 0.15px;
     color: var(--text-color);
}

.hero__button {
     margin-top: 9px;
}

/* INDEX-URL-SHORTENER-FEATURES-WRAPPER */
.index-url-shortener-features-wrapper {
     display: flex;
     flex-direction: column;
     background-color: #fff1f7;
}

.index-url-shortener-features-wrapper__url-shortener {
     margin-top: -84px;
}


.url-shortener__form {
     display: flex;
     justify-content: space-between;
     padding: 52px 64px;
     border-radius: 10px;
     background-color: #4b3f6b;
     background-image: url(../img/wrapper-bg.svg);
     background-repeat: no-repeat;
     background-size: cover;
}

.url-shortener__input-wrapper {
     position: relative;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     margin-right: 24px;
}

.url-shortener__input {
     flex-grow: 1;
     border-radius: 10px;
     display: block;
     width: 100%;
     padding: 14px 32px;
     border: 3px solid transparent;
     color: #34313d;
     font-size: 20px;
     line-height: 36px;
     opacity: 1;
}


.url-shertener__error-msg {
     display: none;
}

/* LINK  */
.url-shortener__results {
     display: none;
     margin-top: 24px;
     margin-bottom: 120px;
     font-size: 20px;
     line-height: 36px;
}

.url-shortener__results--open {
     display: block;
}

.url-shortener__result {
     display: flex;
     align-items: center;
     padding: 16px 24px;
     border-radius: 5px;
     background-color: white;
     color: var(--heading-color);
}

.url-shortener__result:not(:last-child) {
     margin-bottom: 16px;
}

.url-shortener__original-link {
     width: 100%;
     margin-right: 24px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.url-shortener__short-link {
     text-decoration: none;
     color: rgba(43, 208, 208, 1);
     margin-right: 24px;
}

.url-shortener__copy-button {
     min-width: 103px;
}

.url-shortener__copy-button--copied {
     background-color: #3A3054;
}

/* INDEX-FEATURES  */
.index-features {
     padding-top: 130px;
     padding-bottom: 56px;
}

.container {}

.index-features__top {
     max-width: 540px;
     margin-left: auto;
     margin-bottom: 100px;
     margin-right: auto;
     text-align: center;
}

.index-features__title {
     margin-top: 0;
     margin-bottom: 18px;
     font-size: 40px;
     line-height: 48px;
     color: rgba(52, 49, 61, 1);
}

.index-features__top-info {
     color: rgba(158, 154, 168, 1);
     font-size: 18px;
     margin: 0;
     line-height: 32px;
     letter-spacing: 0.12px;
}

/* INDEX-FEATURES */
.index-features__list {
     position: relative;
     z-index: 1;
     display: flex;
     align-items: flex-start;
     padding: 0;
     margin: 0;
     list-style: none;
}

.index-features__list::before {
     position: absolute;
     left: 0;
     top: 152px;
     width: 100%;
     height: 8px;
     background-color: #2BD0D0;
     z-index: -1;
     content: "";
}

.index-features__item {
     width: 350px;
}

.index-features__item:nth-child(2) {
     margin-top: 44px;
}

.index-features__item:nth-child(3) {
     margin-top: 88px;
}

.index-features__item:not(:last-child) {
     margin-right: 30px;
}

.index-feature {
     position: relative;
     padding: 77px 32px 40px;
     background-color: white;
     border-radius: 5px;
}

.index-features__icon-wrapper {
     position: absolute;
     display: flex;
     left: 32px;
     top: -44px;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 88px;
     height: 88px;
     background-color: #3A3054;
}


.index-features__title {
     margin-top: 0;
     color: rgba(52, 49, 61, 1);
     font-size: 22px;
     line-height: 33px;
}

.index-feature__info {
     color: rgba(158, 154, 168, 1);
     font-size: 15px;
     line-height: 26px;
}