/* FONTS  */
@font-face {
     font-family: 'Poppins';
     src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
          url('../fonts/Poppins-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Poppins';
     src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}


/* ROOT  */
:root {
     --font-family: "Poppins", sans-serif;
     --text-color: #9E9AA8;
     --heading-color: #34313D;
     --white-color: #ffffff;
     --button-color: #2BD0D0;
     --font-weight5: 500;
     --font-weight7: bold;
}

/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #fff;
     color: #34313D;
     font-family: 'Poppins', sans-serif;
     font-size: 15px;
     line-height: 22px;
}

img {
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1150px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}